@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Merriweather", serif;
}

/* HEADER */

header {


    position: relative;
    height: 50rem;
    padding: 1rem 0;
    text-align: center;
    background-image: url(./IMAGES/fachadalojaeditada.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;



    .flex {
        display: flex;
        width: 85%;
        margin: auto;
        align-items: center;
        justify-content: space-between;




        nav {





            ul {

                display: flex;
                list-style: none;
                gap: 8rem;

                a {
                    text-decoration: none;
                    color: #f0f0f0;
                    font-size: 18px;
                    position: relative;
                    transition: 1s;
                }

                a:hover {
                    color: #F2E49B;
                    transform: scale(1.1);
                }

                a::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0%;
                    height: 2px;
                    background: #F2E49B;
                    transition: 1s;
                }

                a:hover::after {
                    width: 100%;
                    color: #F2E49B;
                }

            }

        }

        .btn-contato {

            button {
                width: 10rem;
                padding: 0.5rem;
                background-color: #BF9A54;
                border: none;
                border-radius: 0.2rem;
                transition: 1s;

                a {
                    text-decoration: none;
                    color: #f0f0f0;

                }

            }

            button:hover {
                transform: scale(1.05);
            }

        }

    }

    .subtitle {
        padding: 15rem 20rem;

        h2 {
            font-size: 52px;
            color: #BF9A54;
        }

        p {
            font-size: 18px;
            margin-top: 2rem;
            color: #f0f0f0;
        }

        button {
            margin-top: 2rem;
            width: 15rem;
            padding: 1rem;
            background-color: #BF9A54;
            border: none;
            border-radius: 0.2rem;
            transition: 1s;

            a {
                text-decoration: none;
                color: #f0f0f0;
                font-size: 18px;
                font-weight: 600;
            }

        }

        button:hover {
            transform: scale(1.05);
        }

    }

}



/* AJUSTES DO CARROUSEL DO BOOT */

.carousel-item {
    background-color: #BF9A54;    

    .servicos {
        padding: 2rem;
        background-color: #F2E49B;
        width: 80%;
        margin: auto;

        .flex {
            display: flex;
            justify-content: center;
            align-items: center;


            .txt {
                width: 20%;
                color: #333;
                margin-right: 10rem;

                h4 {
                    font-size: 52px;
                    color: #333;
                }

                ul {

                    li {
                        color: #333;
                        font-size: 18px;
                    }

                }

            }

            .imgs {
                padding: 0.5rem;
                display: flex;
                gap: 2rem;
                width: 50%;
                border: solid 2px #BF9A54;
                border-radius: 0.5rem;
            }

        }

    }

}




/* SOBRE */
.sobre {
    padding: 2rem;

    .flex {
        width: 60%;
        margin: auto;
        display: flex;

        .img {
            width: 50%;
        }

        .txt {
            padding: 2rem 2rem;
        }

    }

}



/* IMAGES */

.images {
    .global {
        width: 60%;
        margin: auto;
        background-color: #F2E49B;
        

        .flex {
            display: flex;
            justify-content: center;
            gap: 0.5rem;
            padding: 1rem 2rem;
            background-color: #F2E49B;


            img{
                transition: 1s; 
                width: 100%;
            }

            img:hover{
                transform: scale(1.05);
            }

        }

    }
}


/* FORM E IFRAME */

.form {
    padding: 4rem;

    .flex1 {
        display: flex;
        width: 60%;
        margin: auto;
        gap: 2rem;

        form {
            text-align: center;
            width: 50%;

            h2 {
                font-size: 38px;
                color: #333;
            }

            .flex2 {
                display: flex;
                gap: 1rem;
                margin-bottom: 2rem;

                input {
                    width: 100%;
                    text-align: center;
                    padding: 0.5rem;
                    transition: 1s;

                }

                input:hover{
                    transform: scale(1.05);
                }

            }

            textarea {
                resize: none;
                width: 100%;
                padding: 0.5rem;
                transition: 1s;
            }

            textarea:hover{
                transform: scale(1.05);
            }

            button {
                width: 100%;
                padding: 1rem;
                margin-top: 2rem;
                background-color: #BF9A54;
                color: #333;
                border: none;
                border-radius: 0.2rem;
                transition: 1s;
            }

            button:hover{
                transform: scale(1.05);
            }

        }

        .local {
            margin: 0 2rem;
            background-color: #BF9A54;
            padding: 0 0 0.5rem ;
        }

    }
}



/*FOOTER */
footer {
    background-color: black;
    padding: 2rem;
    text-align: center;

    .head {
        width: 70%;
        text-align: center;
        margin: auto;
        color: #F2E49B;
    }

    .cont {
        padding: 2rem;
        width: 45%;
        margin: auto;

        p {
            font-size: 16px;
            color: #333;
            padding: 2rem;
        }

    }

    .links {
        width: 70%;
        margin: auto;

        ul {
            display: flex;
            justify-content: center;
            gap: 2rem;

            li {
                list-style: none;

                a {
                    color: #F2E49B;
                }

            }

        }

    }

}






/* - RESPONSIVIDADE - */

/* ===============================
      RESPONSIVIDADE - BREAKPOINTS
================================== */

/* ----------- 1200px ----------- */
@media (max-width: 1200px) {

    header .flex {
        width: 90%;
        gap: 3rem;
    }

    header .subtitle {
        padding: 10rem 10rem;
    }

    .carousel-item .servicos .flex {
        gap: 2rem;
    }

    .sobre .flex {
        width: 80%;
    }

    .images .global {
        width: 80%;
    }

    .form .flex1 {
        width: 80%;
    }

}

/* ----------- 992px (TABLET LANDSCAPE) ----------- */
@media (max-width: 992px) {

    /* HEADER */
    header {
        height: 40rem;
        background-size: cover;
        background-position: center;
    }

    header .flex {
        flex-direction: column;
        gap: 2rem;
    }

    /* MENU SEMPRE EM LINHA */
    header nav ul {
        gap: 1rem;
    }

    header nav ul a {
        font-size: 16px;
    }

    header .subtitle {
        padding: 8rem 5rem;
        text-align: center;
    }

    header .subtitle h2 {
        font-size: 40px;
    }

    /* CAROUSEL */
    .carousel-item .servicos .flex {
        flex-direction: column;
        text-align: center;
    }

    .carousel-item .servicos .flex .txt {
        width: 100%;
        margin-right: 0;
    }

    .carousel-item .servicos .flex .imgs {
        width: 90%;
    }

    /* SOBRE */
    .sobre .flex {
        flex-direction: column;
        width: 90%;
        text-align: center;
    }

    .sobre .img,
    .sobre .txt {
        width: 100%;
    }

    /* IMAGES */
    .images .global .flex {
        flex-wrap: wrap;
    }

    /* FORM */
    .form .flex1 {
        flex-direction: column;
        width: 90%;
    }

    .form .flex1 form,
    .form .flex1 .local {
        width: 100%;
    }

}

/* ----------- 768px (TABLET PORTRAIT) ----------- */
@media (max-width: 768px) {

    /* MENU SEMPRE EM LINHA + FONTE MENOR */
    header nav ul {
        gap: 1.2rem;
    }

    header nav ul a {
        font-size: 14px;
    }

    header .subtitle h2 {
        font-size: 32px;
    }

    header .subtitle p {
        font-size: 16px;
    }

    /* CAROUSEL */
    .carousel-item .servicos {
        width: 95%;
    }

    .carousel-item .servicos .flex .imgs {
        flex-direction: column;
        gap: 1rem;
    }

    /* IMAGES */
    .images .global {
        width: 90%;
    }

    /* FORM */
    .form {
        padding: 2rem;
    }

    .form .flex1 {
        width: 100%;
    }

    /* FOOTER */
    footer .cont {
        width: 80%;
    }
}

/* ----------- 576px (CELULARES) ----------- */
@media (max-width: 576px) {

    /* HEADER */
    header {
        height: 35rem;
    }

    header nav {
        gap: 0;
        justify-content: center;
    }

    /* MENU CONTINUA EM LINHA (REMOVIDO flex-direction: column) */
    header nav ul {
        gap: 0;
    }

    header nav ul a {
        font-size: 12px;
    }

    header .subtitle {
        padding: 5rem 1rem;
    }

    header .subtitle h2 {
        font-size: 26px;
    }

    header .subtitle button {
        width: 100%;
    }

    /* CAROUSEL */
    .carousel-item .servicos {
        width: 100%;
        padding: 1rem;
    }

    .carousel-item .servicos .flex .txt h4 {
        font-size: 32px;
    }

    .carousel-item .servicos .flex .txt ul li {
        font-size: 16px;
    }

    .carousel-item .servicos .flex .imgs {
        width: 100%;
    }

    /* SOBRE */
    .sobre {
        padding: 1rem;
    }

    .sobre .txt {
        padding: 2rem 1rem;
    }

    /* FORM */
    .form .flex1 form h2 {
        font-size: 28px;
    }

    .form .flex2 {
        flex-direction: column;
    }

    .form button {
        width: 100%;
    }

    /* FOOTER */
    footer .head {
        width: 100%;
        font-size: 14px;
    }

    footer .links ul {
        flex-direction: column;
    }
}